/* Seteando estructura*/
* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro',sans-serif;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
}

/* Header estático y línea */
header{
  background-color: #fff;
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header-menu {
  border-bottom: 1px solid #d3d3d3;
  display: inline-block;
  margin: 0px;
  padding: 10px 50px 0px;
  width: 100%;
}

/* Íconos a la izquierda */

/* Logo de Pinterest */
.box-left {
  width: 90%;
}

.logo {
  font-size: 16px;
  font-weight: 700px;
  padding: 0 5px;
}

/* Logo en color rojo */
.color-red {
  color: #BD081C;
  list-style: none;
  padding: 0;
  text-decoration: none;
}

.fa-pinterest {
  height: 20px;
  line-height: 20px;
  position: relative;
  vertical-align: middle;
  width: 20px;
}

/* Caja de búsqueda */
.search {
  background-color: #EFEFEF;
  border-radius: 5px;
  display: inline-block;
  margin: 0 40px;
  padding: 10px;
  width: 80%;
}

.box-all {
  display: inline-block;
}

input {
  background-color: transparent;
  border: none;
  font-size: 18px;
  line-height: 20px;
  width: 85%;
}


/* Íconos derecha */
.box-right {
  float: right;
  width: 20%;
}

.icon-user, .icon-bars, .icon-commeting {
  color: #b5b5b5;
  padding: 25px;
  text-decoration: none;
  width: 100%;
}

.icon-user i, .icon-bars i, .icon-commeting i{
  margin: 0;
  position: absolute;
  top: 15px;
}

.gray-icon a {
  font-size: 30px;
}

/* Lista de botones*/
.list-btn-menu {
  margin: 0;
  padding: 70px 0;
  text-align: center;
  width: 100%;
}

.list-btn-menu {
  padding: 10px 0;
}

.list-btn-menu li {
  margin: 0 5px;
}

.list-btn-menu span {
  border-radius: 6px;
  background-color: #AB8B6F;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 20px 25px;
}


/* Galería de imágenes */
.image1, .image2, .image3, .image4, .image5, .image6, .image7, .image8, .image9 {
  width: 300px;
  height: 300px;
}

/* Borde redondeado en las imágenes */
.img img {
  border-radius: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 10px;
  width: 100%;
}

/* Espacio dividido para la galería de imágenes */
.galery-images {
  column-count: 3;
  column-gap: 60px;
  column-width: 300px;
  margin: 210px 80px 50px;
}