/* Seteando estructura*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro',sans-serif;
}

/*Header*/
header{
  background-color: #fff;
  display: block;
  height: 30vh;
  width: 100%;
  z-index: 1000;
  top: 0;
  position: fixed;
}


li {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
}

.header-menu {
  border-radius: 10px;
  display: inline-block;
  margin: 0px;
  width: 100%;
  padding: 10px 30px;
  outline: 1px solid #000;
}

/* Íconos a la izquierda */

/* Logo */
.box-left {
  width: 90%;
}

.logo {
  font-size: 16px;
  font-weight: 700px;
  padding: 0 5px;
}

.color-red {
  color: #BD081C;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.fa-pinterest {
  height: 20px;
  line-height: 20px;
  position: relative;
  vertical-align: middle;
  width: 20px;
}

/* Caja*/
.search {
  background-color: #EFEFEF;
  border-radius: 5px;
  display: inline-block;
  margin: 0 25px;
  width: 80%;
  padding: 10px;
}

.box-all {
  display: inline-block;
}

input {
  width: 85%;
  border: none;
  line-height: 20px;
  font-size: 18px;
  outline: 0;
  background-color: transparent;
}


/* Íconos derecha */
.box-right {
  float: right;
  width: 15%;
}

.icon-user, .icon-bars, .icon-commeting {
  width: 100%;
  padding: 25px;
  color: #b5b5b5;
  text-decoration: none;
}

.icon-user i, .icon-bars i, .icon-commeting i{
  position: absolute;
  margin: 0;
  top: 15px;
}

.gray-icon a {
  font-size: 30px;
}

/* Lista de botones*/
.list-btn-menu {
  padding: 70px 0;
  width: 100%;
  margin: 0;
  text-align: center;
}

.list-btn-menu {
  padding: 10px 0;
}

.list-btn-menu li {
  margin: 0 5px;
}

.list-btn-menu span {
  border-radius: 6px;
  background-color: #AB8B6F;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 20px 25px;
}


/* Galería de imágenes */

.image1, .image2, .image3, .image4, .image5, .image6, .image7, .image8, .image9 {
  width: 300px;
  height: 300px;
}



.img {
  cursor: pointer;
  display: inline-block;
  float: left;
  margin-bottom: 10px;
  padding: 10px 10px;
}

.image img {
  border-radius: 20px;
  background-repeat: no-repeat;
  width: 100%;
}

.galery-images {
  margin: 210px 80px 50px;
  overflow: auto;
  column-width: 300px;
  column-count: 3;
  column-gap: 60px;
}